@inherits EventsPanelView
@using Sufficit.Telephony.EventsPanel
<CascadingValue Value="@Panel">
    <EventsPanelViewRefresh @ref="ViewRefreshComponent" RefreshRate="@Panel.Options.RefreshRate">
        @if(Exception != null)
        {
            <div class="alert alert-danger mb-0 m-3 text-white">
                @Exception.Message
            </div>
        } 
        <EventsPanelStats Filtering="Filtering"></EventsPanelStats>        
        @foreach(var error in Service.Exceptions)
        {
            <div class="card p-3">
                <span>@error.Message</span>          
            </div>
        }
        <hr class="horizontal mt-2 m-0 dark" />
        <EventsPanelCardArea Cards="@Panel.Cards" Pagging="Pagging" Filtering="Filtering"></EventsPanelCardArea>
    </EventsPanelViewRefresh>
</CascadingValue>