@inherits EventsPanelCardAbstract
<div class="card px-1" data-state="@(Card.IsMonitored ? Content?.Status : null)" data-status="@Card.Channels.Any()"> 
    <div class="card-header p-0 bg-transparent">
        <div class="row m-0 text-nowrap">
            <div class="col-2 pe-1" data-tooltip="@PeerKey">
                <img src="@GetAvatarSrc()" class="avatar avatar-xs p-0 m-1 mx-n2">
            </div>
            <div class="col-7 pe-1" style="line-height: 2rem;">
                <small class="text-xs d-block text-truncate">@Card.Label</small>
            </div>
            <div class="col-3 pe-1 text-end" style="line-height: 2rem;">
                @if (@Card.IsMonitored && @Content?.Address != null)
                {
                    <a class="cursor-pointer pe-1" role="button" data-tooltip-inverted data-tooltip="@Content?.Address">
                        <i class="material-icons text-primary text-sm align-middle">place</i>
                    </a>
                }
                <a class="cursor-pointer pe-1" role="button" data-tooltip-inverted data-tooltip="@Content?.Status">
                    <i class="material-icons text-primary text-sm align-middle">visibility</i>
                </a>
            </div>
        </div>
    </div>
    @if (Card.Channels.Any())
    {
        <hr class="horizontal mt-0 dark" style="padding: 0;margin: 0;width: 100%;" />
        <div class="card-body d-flex flex-column align-items-center p-0">    
            <CardChannels Channels=@Card.Channels Kind="EventsPanelCardKind.PEER"></CardChannels>
        </div>
    }
</div>